<div class="container mt-3 text-center mx-auto">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">NYTimes</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> <button id="scrape" class="btn p-1 mt-2" type="submit">Show me news!</button> <span class="sr-only">(current)</span></a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#"><button id="delete" class="btn p-1 mt-2" type="submit">Delete
                news!</button></a>
                </li> --}}
                <li class="nav-item">
                    <a href="/saved-articles" class="nav-link btn p-1 mt-2">Saved articles</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="card">
                {{#each data}}
                <div id="news-articles" class="card mt-2">
                    <div class="card-body">
                        <a class="card-link" href="https://www.nytimes.com{{url}}" target='_blank'>
                            <h5 class="card-title article-title">{{title}}</h5>
                        </a>
                        <p class="card-text">{{summary}}</p>
                        <button class="btn save-button p-1" type="submit" data-id={{_id}}>Save Article</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>