<div class="container mt-3 text-center mx-auto">

    <nav class="navbar navbar-light">
        <form class="form-inline">
            <button type="submit"> Scrape New Articles!</button>
        </form>
    </nav>

    <div class="row mt-5 mb-5 ml-auto mr-auto">
        <div class="col">
            <div id ="news">
            </div>
        </div>
    </div>

</div>