body{
    font-family: cursive;
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size:20px;
}
.article-title {
    color: black;
    font-weight: bold;
}

.article-title:hover {
    color: blue;
}

.note-button {
    background-color: #254d2a;
}

.save-button{
    background-color: #4d2545;
    color:white;
}

.btn{
    border-radius: 50%;
}
#news-articles{
    background-color: #eee;
    opacity:0.7;
}

.note-wrap p{
    margin-top:5px;
    padding:5px;

    border-top:1px solid #eee;
    width: 90%;
    display: inline-block;
}
.delete-note{
    cursor: pointer;
}